<div class="card">
  <div class="card-body">
    <h3>
      Upcoming Angular Events
    </h3>
    <hr>
    <div class="card-text">
      <!-- <ngf-event-thumbnail (eventClick)="handleEventClicked($event)"[event]="event1"></ngf-event-thumbnail> -->
      <!-- <ngf-event-thumbnail #thumbnail [event]="event1"></ngf-event-thumbnail> -->
      <!-- <h3>{{ thumbnail.someETProperty }}</h3>
      <button class="btn btn-primary" (click)="thumbnail.logFoo()">Log me some foo</button> -->
      <div class="well">
        <span>Hello World</span>
      </div>
      <ngf-event-thumbnail [event]="event1"></ngf-event-thumbnail>
    </div>

  </div>
</div>
