<div class="card">
  <div class="card-body">
    <h1>
      Upcoming Angular Events
    </h1>
    <hr>
    <h2 class="card-text">
      <!-- <ngf-event-thumbnail (eventClick)="handleEventClicked($event)"[event]="event1"></ngf-event-thumbnail> -->
      <!-- <ngf-event-thumbnail #thumbnail [event]="event1"></ngf-event-thumbnail> -->
      <!-- <h3>{{ thumbnail.someETProperty }}</h3>
      <button class="btn btn-primary" (click)="thumbnail.logFoo()">Log me some foo</button> -->
      <ngf-event-thumbnail [event]="event1"></ngf-event-thumbnail>
    </h2>

  </div>
</div>
