<div class="card">
  <div class="card-body">
    <h2>
      Upcoming Angular Events
    </h2>
    <hr>
    <div class="card-text">
      <!-- <ngf-event-thumbnail (eventClick)="handleEventClicked($event)"[event]="event1"></ngf-event-thumbnail> -->
      <!-- <ngf-event-thumbnail #thumbnail [event]="event1"></ngf-event-thumbnail> -->
      <!-- <h3>{{ thumbnail.someETProperty }}</h3>
      <button class="btn btn-primary" (click)="thumbnail.logFoo()">Log me some foo</button> -->
      <div class="well">
        <h3>{{ cardText }}</h3>
      </div>
      <ngf-event-thumbnail *ngFor="let event of events" [event]="event" ></ngf-event-thumbnail><!---->
    </div>

  </div>
</div>
