<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Angular Events</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">All Events</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="">Create Event</a>
          </li>
          <li class="dropdown">
            <a href="#" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
              Events
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li >
                <a href="">Angular Connect</a>
              </li>
            </ul>
          </li>
        </ul>
        <form id="searchForm"  class="form-inline mt-2 mt-md-0 is-pr">
          <div class="form-group">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
        <div class="navbar-header navbar-right is-pr">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Welcome John</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

